/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS

  Sky
    rgb(200,228,230)

  Dark Blue
    rgb(44, 62, 80)

  Grey
    rgb(127, 140, 141)

  Cloud
    rgb(236, 240, 241)
*/

.background--sky {
  background-color: rgb(200,228,230);
}

.background--darkGreen {
  background-color: rgb(20, 64, 74);
}

.color--sky {
  background-color: rgb(200,228,230);
}

.color--darkGreen {
  color: rgb(20, 64, 74);
}

.color--skyBlue {
  color: rgb(52, 152, 219);
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

.section__example {
  background-color: rgb(44, 62, 80);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Cardo', serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserra', serif;
}

/*
  Helpers
*/

.margin--none {
  margin: 0;
}

.overflow--auto {
  overflow: auto;
}

.main--style {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
}


/*
  Sections
*/

.section {
  /* display: block; */
  font-size: 4.2rem;
  /* min-height: 10vh; */
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1%;
  position: relative;
  overflow: auto;
}

.section--alignCentered {
  text-align: center;
}

.section__text--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__text--left {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.aboutme__title {
  margin-top: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  left: 50%;
}

.aboutme__Description {
  margin: 3%;
  text-align: justify;
  font-size: 18px;
}

.aboutme_Image {
  opacity: 0.75;
  object-fit: fill;
  width: 20rem;
  height: 20rem;
}

.textwrap {
  float: left;
  margin: 0% 3% 3% 3%;
}

.section__example {
  display: inline;
  /* border-radius: 100%; */
  width: 50%;
  height: 0;
  padding-bottom:60%;
  margin-bottom: 2rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.section__exampleRight {
  float: right;
}

.section__exampleLeft {
  float: left;
}

.section__example:hover .section__exampleTitle {
  opacity: 0;
}

.section__example:hover .section__exampleDescription {
  opacity: 1;
}

.section__example:active {
  transition: 0.05s all;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.section__exampleTitle{
  text-align: center;
  width: 90%;
  transition: 1s all;
}

.section__exampleDescription{
  font-size: 2rem;
  text-align: justify;
  margin-left: 0rem;
  opacity: 0;
  width: 90%;
  transition: 1s all;
}

.section__exampleImage {
  opacity: 0.25;
  object-fit: fill;
}

/* ---- SUBPAGE ----*/

.subpage__example {
  display: inline-block;
  /* border-radius: 100%; */
  width: 25rem;
  height: 25rem;
  margin: 3%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.subpage__exampleTitle{
  text-align: center;
  width: 90%;
  transition: 1s all;
}

.subpage__exampleDescription{
  font-size: 1.8rem;
  font-family: monospace;
  text-align: left;
  opacity: 0;
  /* text-transform: uppercase; */
  width: 85%;
  height: 85%;
  transition: 1s all;
  margin-left: 0rem;

  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.subpage__exampleDescription::-webkit-scrollbar {
    display: none;
}

.subpage__example:hover .subpage__exampleTitle {
  opacity: 0;
}

.subpage__example:hover .subpage__exampleDescription {
  opacity: 1;
}

.subpage__example:hover .subpage__exampleImage {
  filter: brightness(25%);
}

.subpage__exampleImage {
  opacity: 0.75;
  object-fit: fill;
}

/* CREATE PAGE */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding-left: 7%;
  padding-bottom: 7%;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    padding-left:2.5%;
  }

  .column {
    flex: 95%;
    max-width: 95%;
  }
}

/*
  Header
*/

.section__heading--largest {
  float: left;
  font-size: 5rem;
  margin-left: 2rem;
  text-decoration: none;
  transition: 0.1s all;
}

.section__heading--largest:hover {
  color: rgb(0, 102, 153);
}

.section--social {
  float: right;
  line-height: 10rem;
  margin-right: 2rem;
}

.social {
  margin-right: 0.75rem;
}

.socialWrapper:last-child .social {
  margin-right: 0;
}

.socialWrapper {
  display: inline-block;
  font-size: 3rem;
  transition: 0.1s all;
}

.socialWrapper:hover .social {
  color: rgb(0, 102, 153);
}


/*
  Modal
*/

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal__closeButton {
  position: absolute;
  right: 2rem;
  top: 5rem;
  font-size: 4rem;
  z-index: 1;
  cursor: pointer;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.modal__image {
  opacity: 0.2;
}
